<div id="actions">
  <div class="mb-3">
    <%= link_to "#" do %>
      <%= image_tag "Zalo", width: 50, alt: "zalo" %>
    <% end %>
  </div>
  <div class="mb-3">
    <%= link_to "tel:0327486020" do %>
      <%= image_tag "call", width: 50, alt: "call" %>
    <% end %>
  </div>
  <div class="back-to-top">
    <i class="bi bi-chevron-up"></i>
  </div>
</div>
