<div id="banner">
  <div class="container">
    <h2 class="text-white">
      <%= content_for(:title).upcase || I18n.t("layouts.application.base_title") %>
    </h2>
    <h3 class="text-white">
      <%= content_for(:description) || I18n.t("layouts.application.base_description").html_safe %>
    </h3>
  </div>
</div>
